.users {
  th, td {
    text-align: center;
  }
  th:first-child, td:first-child {
    text-align: left;
  }
  a {
    cursor: pointer;
  }
  .admin {
    font-weight: bold;
  }
  .send-mail{
    float:right;
  }
  tr:not(.deleted) {
    .deleted-only {
      display: none;
    }
  }
  tr.deleted {
    color: #808080;
    .username {
      text-decoration: line-through;
    }
    .active-only {
      display: none;
    }
  }
}