@arithmetic-node-color: #82ffd2;
@assign-node-color: #ffb181;
@compare-node-color: #fff465;
@return-node-color: #a6e0ff;
@if-node-color: #b2e792;
@inc-node-color: #b75946;
@value-node-color: #d3d3d3;
@while-node-color: #d5a2da;

.algorithm {
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 20px;
    .node {
      @border: 1px solid gray;
      @radius: 5px;
      @form-background-color-factor: 5%;
      @form-border-color-factor: 40%;
      @form-border-style: 1px dashed;

      list-style-type: none;

      table {
        border-collapse: separate;
        padding: 1px 0 1px 1px;
        text-align: left;
      }

      input, select {
        background: none;
        border: none;
        line-height: normal;
      }

      .handle {
        .glyphicon {
          // hide image, when not cursor
          visibility: hidden;
        }
      }

      .invalid {
        display: none;
      }

      .node-box {
        min-width: 20px;
        font-family: monospace, Courier;

        &.full-width {
          width: 100%;
        }
        &.half-width {
          width: 50%;
        }

        &.top {
          border-top: @border;
          &.left {
            -moz-border-radius-topleft: @radius;
            -webkit-border-top-left-radius: @radius;
            border-top-left-radius: @radius;
          }
          &.right {
            -moz-border-radius-topright: @radius;
            -webkit-border-top-right-radius: @radius;
            border-top-right-radius: @radius;
          }
        }
        &.right {
          border-right: @border;
        }
        &.bottom {
          border-bottom: @border;
          &.left {
            -moz-border-radius-bottomleft: @radius;
            -webkit-border-bottom-left-radius: @radius;
            border-bottom-left-radius: @radius;
          }
          &.right {
            -moz-border-radius-bottomright: @radius;
            -webkit-border-bottom-right-radius: @radius;
            border-bottom-right-radius: @radius;
          }
        }
        &.left {
          border-left: @border;
        }
      }

      .nodeStyle(@color) {
        & > table > tbody > tr > td {
          &.node-box {
            background-color: @color;
            select, input {
              background-color: darken(@color, @form-background-color-factor);
              border: @form-border-style darken(@color, @form-border-color-factor);
            }
          }
        }
      }

      &.arithmetic-node {
        .nodeStyle(@arithmetic-node-color);
      }
      &.assign-node {
        .nodeStyle(@assign-node-color);
      }
      &.compare-node {
        .nodeStyle(@compare-node-color)
      }
      &.return-node {
        .nodeStyle(@return-node-color)
      }
      &.if-node {
        .nodeStyle(@if-node-color)
      }
      &.inc-node {
        .nodeStyle(@inc-node-color)
      }
      &.value-node {
        .nodeStyle(@value-node-color)
      }
      &.while-node {
        .nodeStyle(@while-node-color)
      }
    }
  }
}