.panel-heading {
  cursor: pointer;
}

.algorithms {
  .name {
    font-weight: bold;
    font-variant: small-caps;
  }

  .properties {
    font-size: small;
    color: #8d8d8d;
  }

  .description {
    font-size: small;
  }
}

#saveSuccess {
  font-size: small;
  vertical-align: middle;
}

.panel-footer-sm {
  padding: 2px;
  font-size: x-small;
  text-align: left;
}

label {
  font-weight: normal;
  margin-bottom: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

html {
  height: 100%;
  body {
    height: 100%;
    .content-wrapper {
      min-height: 100%;
      margin: 0 auto -50px;
    }

    .footer, .footer-placeholder {
      height: 50px;
      margin: 0 auto;
    }
  }
}

