.algorithm ul {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 20px;
}
.algorithm ul .node {
  list-style-type: none;
}
.algorithm ul .node table {
  border-collapse: separate;
  padding: 1px 0 0 1px;
  text-align: left;
}
.algorithm ul .node input,
.algorithm ul .node select {
  background: none;
  border: none;
  line-height: normal;
}
.algorithm ul .node .invalid-flag {
  display: none;
}
.algorithm ul .node .node-box {
  min-width: 20px;
  font-family: monospace, Courier;
}
.algorithm ul .node .node-box.full-width {
  width: 100%;
}
.algorithm ul .node .node-box.half-width {
  width: 50%;
}
.algorithm ul .node .node-box.top {
  border-top: 1px solid gray;
}
.algorithm ul .node .node-box.top.left {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
.algorithm ul .node .node-box.top.right {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.algorithm ul .node .node-box.right {
  border-right: 1px solid gray;
}
.algorithm ul .node .node-box.bottom {
  border-bottom: 1px solid gray;
}
.algorithm ul .node .node-box.bottom.left {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.algorithm ul .node .node-box.bottom.right {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.algorithm ul .node .node-box.left {
  border-left: 1px solid gray;
}
.algorithm ul .node.assign-node > table > tbody > tr > td.node-box {
  background-color: #ffefe6;
}
.algorithm ul .node.assign-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.assign-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #e75800;
}
.algorithm ul .node.assign-node.cursor > table > tbody > tr > td.node-box {
  background-color: #ffb181;
}
.algorithm ul .node.comment-node > table > tbody > tr > td.node-box {
  background-color: #e6e6e6;
}
.algorithm ul .node.comment-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.comment-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #343434;
}
.algorithm ul .node.comment-node.cursor > table > tbody > tr > td.node-box {
  background-color: #808080;
}
.algorithm ul .node.compare-node > table > tbody > tr > td.node-box {
  background-color: #ffefe6;
}
.algorithm ul .node.compare-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.compare-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #e75800;
}
.algorithm ul .node.compare-node.cursor > table > tbody > tr > td.node-box {
  background-color: #ffb181;
}
.algorithm ul .node.function-node > table > tbody > tr > td.node-box {
  background-color: #ffefe6;
}
.algorithm ul .node.function-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.function-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #e75800;
}
.algorithm ul .node.function-node.cursor > table > tbody > tr > td.node-box {
  background-color: #ffb181;
}
.algorithm ul .node.if-node > table > tbody > tr > td.node-box {
  background-color: #f0fae9;
}
.algorithm ul .node.if-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.if-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #5eb828;
}
.algorithm ul .node.if-node.cursor > table > tbody > tr > td.node-box {
  background-color: #b2e792;
}
.algorithm ul .node.if-node .if-condition,
.algorithm ul .node.if-node .if-body {
  padding-bottom: 1px;
}
.algorithm ul .node.inc-node > table > tbody > tr > td.node-box {
  background-color: #ffefe6;
}
.algorithm ul .node.inc-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.inc-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #e75800;
}
.algorithm ul .node.inc-node.cursor > table > tbody > tr > td.node-box {
  background-color: #ffb181;
}
.algorithm ul .node.return-node > table > tbody > tr > td.node-box {
  background-color: #ffefe6;
}
.algorithm ul .node.return-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.return-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #e75800;
}
.algorithm ul .node.return-node.cursor > table > tbody > tr > td.node-box {
  background-color: #ffb181;
}
.algorithm ul .node.swap-node > table > tbody > tr > td.node-box {
  background-color: #ffefe6;
}
.algorithm ul .node.swap-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.swap-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #e75800;
}
.algorithm ul .node.swap-node.cursor > table > tbody > tr > td.node-box {
  background-color: #ffb181;
}
.algorithm ul .node.value-node > table > tbody > tr > td.node-box {
  background-color: #f7ecf8;
}
.algorithm ul .node.value-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.value-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #9a41a2;
}
.algorithm ul .node.value-node.cursor > table > tbody > tr > td.node-box {
  background-color: #d5a2da;
}
.algorithm ul .node.while-node > table > tbody > tr > td.node-box {
  background-color: #f0fae9;
}
.algorithm ul .node.while-node > table > tbody > tr > td.node-box select,
.algorithm ul .node.while-node > table > tbody > tr > td.node-box input {
  border: 1px dashed #5eb828;
}
.algorithm ul .node.while-node.cursor > table > tbody > tr > td.node-box {
  background-color: #b2e792;
}
.algorithm ul .node.while-node .while-condition {
  padding-bottom: 1px;
}
#infoPanel .description-group {
  margin-bottom: 5px;
}
#infoPanel .description-group #in-long {
  font-family: "andale mono", "monotype.com", "courier new", courier, monospace;
  margin-top: 7px;
}
#infoPanel .footnote {
  font-size: small;
  color: darkgray;
  text-align: right;
}
#infoPanel #description-preview {
  color: #6c6c6c;
}
#infoPanel #refresh-preview {
  color: #6c6c6c;
  cursor: pointer;
}
#varPanel .variables {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}
#varPanel .variables td > div {
  display: inline-flex;
}
#varPanel .variables .details {
  color: dimgrey;
}
#varPanel .variables .tools {
  float: right;
}
#varPanel .variables .tools .btn-var-count {
  margin-right: 2px;
  cursor: default;
}
#varPanel .variables .form-group {
  margin: 0;
  width: 100px;
}
#varPanel .variables .equals-group {
  width: 35px;
}
#varPanel .variables .equals-group .equals {
  border: none;
  cursor: default;
}
#varPanel .variables .size-group {
  width: 55px;
}
#stepPanel .algorithm .sortable-highlight {
  background-color: greenyellow;
  border: 2px dashed forestgreen;
  height: 20px;
  list-style-type: none;
}
#stepPanel .algorithm .error {
  background-color: #ffaeac;
  border: 1px dashed #ff4a46;
}
#stepPanel .buttons {
  text-align: center;
}
#stepPanel .handle {
  cursor: move;
}
#stepPanel .toggle-comment {
  margin: 3px;
  cursor: pointer;
}
#stepPanel .comment-container {
  width: 100%;
  padding: 0 3px 3px 0;
}
#stepPanel .comment-container .comment-text {
  width: 100%;
}
#stepPanel #node-btn-group a {
  cursor: pointer;
}
#stepPanel #node-btn-group #annotations-group button {
  background-color: #9a9a9a;
}
#stepPanel #node-btn-group #operations-group button {
  background-color: #ffd1b4;
}
#stepPanel #node-btn-group #structure-group button {
  background-color: #d0f0bc;
}
#stepPanel #node-btn-group #value-group button {
  background-color: #e5c6e9;
}
.combobox-container {
  display: inline;
}
.combobox-container .custom-combobox-toggle {
  margin-left: -20px;
  display: inline-flex;
  cursor: pointer;
}
.combobox-container input {
  max-width: 100px;
  color: #000000;
}
