@import "node";

#infoPanel {
  .description-group {
    margin-bottom: 5px;
    #in-long {
      font-family: "andale mono", "monotype.com", "courier new", courier, monospace;
      margin-top: 7px;
    }
  }
  .footnote {
    font-size: small;
    color: darkgray;
    text-align: right;
  }
  #description-preview {
    color: #6c6c6c;
  }
  #refresh-preview {
    color: #6c6c6c;
    cursor: pointer;
  }
}

#varPanel {
  .variables {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;

    .form-group {
      padding: 1px;
    }
    td > div {
      display: inline-flex;
    }
    .details {
      color: dimgrey;
    }
    .tools {
      float: right;
      .btn-var-count {
        margin-right: 2px;
        cursor: default;
      }
    }
    .form-group {
      margin: 0;
    }
    .equals-group {
      .equals {
        border: none;
        cursor: default;
      }
    }
    .size-group {
    }
  }
}

#stepPanel {
  .algorithm {
    .sortable-highlight {
      background-color: greenyellow;
      border: 2px dashed forestgreen;
      height: 20px;
      list-style-type: none;
    }
    .error {
      background-color: lighten(#ff4a46, 20%);
      border: 1px dashed #ff4a46;
    }
  }

  .buttons {
    text-align: center;
  }

  .handle {
    cursor: move;
  }

  .toggle-comment {
    margin: 3px;
    cursor: pointer;
  }
  .comment-container {
    width: 100%;
    padding: 0 3px 3px 0;

    .comment-text {
      width: 100%;
    }
  }

  #node-btn-group {
    width: 100%;

    a {
      cursor: pointer;
    }

    .btnStyle(@color) {
      width: 23%;
      button {
        background-color: lighten(@color, 10%);
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    #allnodes-group {
      width: 8%;
      button {
        width: 100%;
      }
    }
    #annotations-group {
      .btnStyle(@annotations-color);
    }
    #operations-group {
      .btnStyle(@operations-color);
    }
    #structure-group {
      .btnStyle(@structure-color);
    }
    #value-group {
      .btnStyle(@values-color);
    }
  }
}

.combobox-container {
  display: inline;
  .custom-combobox-toggle {
    margin-left: -20px;
    display: inline-flex;
    cursor: pointer;
  }
  input {
    max-width: 100px;
    color: #000000;
  }
}
