@import "algorithm";

#varPanel {
  .variables {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
    td > div {
      display: inline-flex;
    }
    .tools {
      float: right;
      .btn-var-count {
        margin-right: 2px;
        cursor: default;
      }
    }
    .form-group {
      margin: 0;
      width: 100px;
    }
    .equals-group {
      width: 35px;
      .equals {
        border: none;
        cursor: default;
      }
    }
    .size-group {
      width: 55px;
    }
  }
}

#stepPanel {
  .algorithm {
    .sortable-highlight {
      background-color: greenyellow;
      border: 2px dashed forestgreen;
      height: 20px;
      list-style-type: none;
    }
    .error {
      background-color: #ff4a46;
      border: 1px dashed red;
    }
  }

  #node-btn-group {
    padding-top: 10px;
    .btnStyle(@color) {
      background-color: lighten(@color, 10%);
    }
    #btn-add-arithmetic {
      .btnStyle(@arithmetic-node-color);
    }
    #btn-add-assign {
      .btnStyle(@assign-node-color);
    }
    #btn-add-compare {
      .btnStyle(@compare-node-color);
    }
    #btn-add-return {
      .btnStyle(@return-node-color);
    }
    #btn-add-if {
      .btnStyle(@if-node-color);
    }
    #btn-add-inc {
      .btnStyle(@inc-node-color);
    }
    #btn-add-value {
      .btnStyle(@value-node-color);
    }
    #btn-add-while {
      .btnStyle(@while-node-color);
    }
  }
}

.combobox-container {
  display: inline;
  .custom-combobox-toggle {
    margin-left: -20px;
    display: inline-flex;
    cursor: pointer;
  }
  input {
    max-width: 100px;
    color: #000000;
  }
}
