@import "algorithm";

#varPanel {
  .variables {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
    td > div {
      display: inline-flex;
    }
    .tools {
      float: right;
      .btn-var-count {
        margin-right: 2px;
        cursor: default;
      }
    }
    .form-group {
      margin: 0;
      width: 100px;
    }
    .equals-group {
      width: 35px;
      .equals {
        border: none;
        cursor: default;
      }
    }
  }
}

#stepPanel {
  .algorithm {
    .view-only {
      display: none;
    }
    .sortable-highlight {
      background-color: greenyellow;
      border: 2px dashed forestgreen;
      height: 20px;
      list-style-type: none;
    }
  }

  #node-btn-group {
    padding-top: 10px;

    #btn-add-arithmetic {
      background-color: lighten(@arithmetic-node-color, 10%);
    }

    #btn-add-assign {
      background-color: lighten(@assign-node-color, 10%);
    }

    #btn-add-compare {
      background-color: lighten(@compare-node-color, 10%);
    }

    #btn-add-constant {
      background-color: lighten(@constant-node-color, 10%);
    }

    #btn-add-if {
      background-color: lighten(@if-node-color, 10%);
    }

    #btn-add-inc {
      background-color: lighten(@inc-node-color, 10%);
    }

    #btn-add-var {
      background-color: lighten(@var-node-color, 10%);
    }

    #btn-add-while {
      background-color: lighten(@while-node-color, 10%);
    }
  }
}

.combobox-container {
  display: inline;
  .custom-combobox-toggle {
    margin-left: -20px;
    display: inline-flex;
    cursor: pointer;
  }
  input {
    max-width: 100px;
    color: #000000;
  }
}
