@import "mixins";
@import "table";

#table-algorithms {
  .tags {
    max-width: 250px;
  }
}

.tagcloud {
  padding: 10px;

  &.tagcloud-background {
    background: #d3d3d3;
    border: 1px solid gray;
    .border-radius(5px);
  }

  .smallest {
    font-size: x-small;
  }
  .small {
    font-size: small;
  }
  .medium {
    font-size: medium;
  }
  .large {
    font-size: large;
  }
  .largest {
    font-size: x-large;
  }
}