@import "algorithm";

.algorithm {
  .close {
    display: none;
  }
  .node {
    &.cursor > table > tbody > tr > td {
      &.node-box {
        font-weight: bold;
        background-color: #286090 !important;
        color: white;
      }
    }
    &.var-node {
      .var-value {
        display: none;
      }
    }
    &.compare-node {
      .compare-operation {
        display: none;
      }
    }
  }
}

.highlight-write {
  color: #fff;
  font-weight: bold;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.highlight-compare {
  color: #fff;
  font-weight: bold;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}

.controls {
  text-align: center;
}