@import "algorithm";

.algorithm {
  .cursor > table > tbody > tr {
    > .handle > .cursor-icon {
      display: table-cell;
      background: url("../img/cursor.png") no-repeat;
      height: 18px;
      width: 18px;
      position: relative;
      left: 1px;
    }
  }

  .comment-container {
    overflow: hidden;
    &.collapsed {
      height: 20px;
    }
    .toggle-comment {
      float: right;
      margin: 3px;
      cursor: pointer;
    }
  }
}

.controls {
  text-align: center;
  #returnValue {
    text-align: center;
    font-weight: bold;
  }
  #speed-control {
    margin: 10px auto;
  }
  #speed-slider {
    margin: auto 10px;
    .ui-slider-handle {
      margin-left: -9px;
    }
  }
}

.variables {
  .value-container {
    .read, .write {
      font-size: x-small;
      display: none;
      position: absolute;
      top: auto;
      right: 1px;
      bottom: 1px;
    }
    &.highlight-read .read {
      display: inline-block;
    }
    &.highlight-write .write {
      display: inline-block;
    }
  }
}

.source {
  .line {
    padding-left: 20px;
    border: 1px solid transparent;
    .border-radius(3px);
    &.source-cursor {
      background: darkgray url("../img/cursor.png") no-repeat;
      position: relative;
      left: 0;
    }
  }
}

.highlight-write {
  @color: #ffb181;
  font-weight: bold;
  background-color: @color !important;
  border-color: darken(@color, 20%) !important;
}

.highlight-read {
  @color: #5cb85c;
  background-color: @color !important;
  border-color: darken(@color, 20%) !important;
}