@import "algorithm";

.algorithm {
  .cursor > table > tbody > tr {
    > .node-box {
      background-color: #3a8dd4 !important;
    }
    > .handle .glyphicon {
      left: 5px;
      visibility: visible;
      @angle: 225deg;
      -moz-transform: rotate(@angle);
      -webkit-transform: rotate(@angle);
      -o-transform: rotate(@angle);
      -ms-transform: rotate(@angle);
    }
  }
  input, select {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

.highlight-write {
  font-weight: bold;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.highlight-compare {
  font-weight: bold;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}

.controls {
  text-align: center;
}